:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
    --gradient-dark: #944197;
    --secondary-color: #7908b1;
    
}

* {
    box-sizing: border-box;
}

html{
background-color: var(--outer-space);
}

body {
/* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
font-size: 1.25rem;
line-height: 1.5;
color: var(--gin);
background-color: var(--outer-space);

}

main {
    background-color: var(--outer-space);
}

footer {
    color: var(--heliotrope);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

header div p {
    color: var(--gin);
    font-size: 1.2rem;
    text-align: center;
}

section p {
    color: var(--heliotrope);
}

span[data-descr] {
    position: relative;
    color: #000;
    cursor: pointer;
  }

span[data-descr]:focus::after  {
    content: attr(data-descr);
}

code {
    color: var(--gin);
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace
}

.code-card pre:active {
    user-select: all;
  }
  

h1 {
    margin-top: 1rem;
    text-align: center;
    color: var(--heliotrope);
    font-size: 200%;
    /* add fade in */
}

h2 {
    font-size: 175%;
    color: var(--heliotrope);
    border: 1px solid var(--gin);
    border-radius: 5px;
    text-align: center;
    z-index: 1;
    
}

h1 + p {
    font-size: 1.2rem;
    margin: 1% 10%;
    /* add slam animation */
}

.card-header {
    position: relative;
    margin-top: -4rem;
    padding: 0.5rem 1rem;
    z-index: 99;
    background-color: var(--outer-space);
    transition: all 0.5s ease-in-out;
}

.card-header-sm {
    position: relative;
    margin-top: -4rem;
    padding: 0.5rem 1rem;
    z-index: 99;
    background-color: var(--outer-space);
    transition: all 0.5s ease-in-out;
    font-size: 1.5rem;
}

.code-card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: flex-start;
    border: 2px solid var(--gin);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

/* when hovering over code-card also do this to the header */
.code-card:hover, .code-card:hover .card-header {
    box-shadow: 0px 0px 8px var(--heliotrope), 0 0 40px var(--heliotrope);

}

/* can i make this glow animation stick when clicked? */
#code-card-sm:hover, #code-card-sm:hover .card-header-sm  {
    box-shadow: 0px 0px 8px var(--bright-turquoise), 0 0 30px var(--bright-turquoise);

}

.card-col {
    flex: 1 1 100%;
    margin: 4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;

}

.code-block {
    background: linear-gradient(var(--gradient-dark), var(--heliotrope));
    border-radius: 10px;
    margin: 2rem 0;
    padding: 2rem 1rem;
    line-height: 1.75;
    white-space: pre-line;
    overflow: auto;
    align-items: center;
    font-size: 1.0rem;
    display: flex;
}

.code-block-sm {
    background: linear-gradient(var(--gradient-dark), var(--heliotrope));
    border-radius: 10px;
    margin: 2rem 0;
    padding: 2rem 1rem;
    line-height: 1.75;
    display: flex;
    white-space: pre-wrap;
    overflow: auto;
    align-items: center;
    font-size: 1rem;
}

.description {
    margin-top: 2rem;
}

.description-sm {
    margin-top: -1rem;
    font-size: 1.2rem;
}

.fade-in-delay {
    opacity: 0;
    animation-fill-mode: forwards;
    animation: fadein 2s 2s 1 normal forwards;
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.shake {
    animation: shake 1s .2s 1 normal;
    -webkit-animation: shake .5s .2s 3 normal;
}

.slam {
    opacity: 0;
    animation: slam 1.75s .2s 1 normal forwards;
    -webkit-animation: slam 1.75s .2s 1 normal forwards;
  }

  .slide-in-left {
    opacity: 0;
    animation: slideinleft 1.25s .2s 1 normal forwards;
    -webkit-animation: slideinleft 1.25s .2s 1 normal forwards;
  }

  .slide-in-right {
    opacity: 0;
    animation: slideinright 1.25s .2s 1 normal forwards;
    -webkit-animation: slideinright 1.25s .2s 1 normal forwards;
  }

.subheading > h1 {
    padding: 2rem;
}

.subtitle {
    padding: 1rem;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
  }

@keyframes slam {
    from {opacity: 0; transform: scale(2);}
    to {opacity:1; transform: scale(1);}
  }

  @keyframes slideinleft {
    from{
      opacity: 0;
      transform: translateX(-150%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes slideinright {
    from{
      opacity: 0;
      transform: translateX(150%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

@media screen and (min-width: 768px) {
    .card-col {
        flex: 0 0 50%;
        max-width: 50%;
      }
}

@media screen and (min-width: 992px) {
    .card-col {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
}

